%titulos {
    letter-spacing: 5px;
    font-weight: 900;
}

%imgHistoria {
    width:871;
    height:500;
    object-fit: cover;
    border: 5px solid #fee600;
    border-radius: 8px;    
}

%bordesCuadrados {
    background-position: center;
    background-size: cover;
    border: 5px solid #fee600;
    border-radius: 8px;
}